<!-- Venue Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.venueBlockTitle }}</h3>
            <div class="row venue-row">
                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="venue-elem-wrapper">
                        <div class="venue-elem image-section venue-big-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.173246718694!2d-1.4683904223044322!3d53.3811511422354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48798282782d5597%3A0x9493330df62b2093!2sCathedral+Church+Of+St+Marie%2C+Sheffield!5e0!3m2!1sen!2suk!4v1511043660635" width="100%" height="610" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="150" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.venueSmallImage1 }})"></div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem venue-small-elem venue-text animated hiding" data-animation="fadeIn" data-delay="0">
                            <h5>{{ site.venueTitle }}</h5>
                            {% for feature in site.venueFeatures %}
                            <p>{{ feature }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.venueSmallImage2 }})"></div>
                    </div>
                    <div class="venue-elem-wrapper col-xs-6 visible-xs">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.venueSmallImage3 }})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Venue Section -->
